@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#header3-2h H3 {
  color: #0f2dea;
}
#contacts3-e B {
  color: #080808;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-e STRONG {
  color: #080808;
}
#contacts3-e P {
  color: #080808;
  font-family: 'Oswald', sans-serif;
}
#contacts3-e .btn {
  font-family: 'Oswald', sans-serif;
}

#header4-2c .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}


#header3-2d H3 {
  color: #080808;
  font-family: 'Oswald', sans-serif;
}
#content1-j P {
  color: #000000;
}
#header3-m P {
  color: #fac51c;
}
#header3-m H3 {
  color: #080808;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#msg-box2-20 .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 14px;
}
#msg-box2-20 .mbr-article {
  color: #252525;
}




#header3-1j H3 {
  color: #080808;
  text-align: left;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#header3-1j P {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#content1-1k P {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#buttons1-1l .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

#header4-q .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

#content1-2f P {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: #080808;
  text-align: right;
}
